/* CRM */
.padding-r-5 { 
   padding-left: 0; 
   padding-right: 5px; 
}
.padding-l-5 { 
   padding-left: 5px; 
   padding-right: 0; 
}
.crm-ellipsis-text {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.crm-head {
	background-color: #fff;
}
.crm-title {
	font-size: 36px;
	padding-left: 20px;
	font-family: inherit;
}
.crm-add {
	margin-top: 30px !important;
}
/* TREE VIEW CATEGORIES */
.active-cat > div, .jstree-default .jstree-wholerow-hovered {
    background: #d3d3d3 !important;
}
.active-cat > a {
	text-transform: uppercase;
	font-weight: bold !important;
	color: #4073a3 !important;
}
.jstree-default .jstree-anchor { 
	font-size: 12px;
	font-weight: 300; 
	padding: 0; 
}    
.jstree-default > .jstree-striped {
	background: none !important;	
}
.hide {
	display: none;
}
.cats-show {
	display: block;
}
/*.select2-selection {
	overflow: hidden;
}*/
.h1-title {
	font-size: 27px;
    border-left: 7px solid rgb(255, 206, 86);
    padding: 1px 15px;
    color: rgb(94, 94, 94);
    font-family: 'Open Sans';
}
.fr {
	float: right;
}
.import-content .flat-box {
	margin: 0 !important;
}
.import-content .wrap {
	padding: 0px 4px 0px;
}
 
.import-content .group-choice {
    margin-top: 1px;
    margin-bottom: 7px;
}
.import-content input[type="file"] {
    margin: 0 0 5px 0;
} 
.btn-radius {	
	margin: 0px 2px 0px -1px !important;
	border-top-right-radius: 8px !important;
	border-bottom-right-radius: 8px !important;
}
.select-box {
	margin-top: 2px;
}
.fa {
	font-size: 15px;
    position: relative;
}
.grupe-page .columns {
	padding: 0 4px !important;
}
.grupe-page .flat-box ul {
	padding: 5px;
}
.grupe-page .nova-karak {
	padding-left: 10px;
}
 
.btns-od-do a {	
	line-height: 20px;
}
#search {
    display: inline-block;
    margin: 2px 0;
}
.orders-input button{
	position: absolute;
    top: 2px;
    right: 0;
}
.btn-abs, .btn-abs2 {
	top: 2px;
    right: 0;
    position: absolute;
    margin: 0 !important;
}
.btn-abs2 {
    right: 26px;
}
.col-h {
	height: 28px;
}
.search-group-row .btn-radius {
	margin-left: -4px !important;
}
#article-toggle {
	display: none;
}
.btn-settings {
    padding: 1px 6px !important;
    bottom: -35px;
    left: 16px;
    position: relative;
}
 
/*.mg-top-btns {	
	position: relative;
	top: -9px;
}*/
.mb {
	margin-bottom: 5px;
}
.mn {
	margin: 0 !important;
	padding: 0 !important;
}
.bsh {
	box-shadow: 2px 2px 3px rgba(170, 170, 170, 0.28);
}
.fa-question-circle {
	color: #6abc6a;
}
.sm-modal { 
	min-height: 180px;
}
.xsm-modal {
	width: 500px;
}
.sm-modal .btn-xm {
	top: 0;
}
.reveal-modal.large {
	font-size: initial;
	line-height: normal;
}

.reveal-modal .close-reveal-modal {
    font-size: 35px;
    top: 6px;
    right: 7px;
    color: #4c4c4c;
    line-height: 18px;
    outline-color: transparent !important;
}
/*.sm-modal div {
	padding: 0;
}*/
.sm-modal .btn {
	margin: 0 !important;
}
.modal-title-h4 {
	position: absolute;
    top: -3px;
    background: #d6d6d6;
    width: 100%;
    z-index: -1;
    left: 0;
    padding: 5px 12px;
    font-size: 15px;
    font-weight: bold;
    color: #575757;
}
.fl {
	float: left;
	margin-right: 5px;
}
.inp-sm {
	width: 140px !important;
}
 
.after-select-margin{
	margin: 10px 0;
}
.articles-page select {
	margin-top: 2px;
}
input.ordered-number{
    width: 30px;
    text-align: center;
    display: inline-block;
    padding: 0;
}
#mp_marza_but, #web_marza_but {
	height: 21px;
	line-height: 20px;
}
.flex-me{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
}
.flex-me label{
	margin: 0;
    display: inline-block;
}
.manufacturers-img img{
    max-width: 100%;
    max-height: 200px;
    display: block;
    margin: 10px auto;
}
.manufacturer>span {
    margin: 10px;
}
/* Osobine */
.btn-edit-simple {
	padding: 4px 9px;
	border: 1px solid #ddd;
	margin: 0;
	color: #000 !important;
	background-color: #eee;
	font-size: 12px;
	transition: 0.2s ease-in-out;
}
.btn-edit-simple:hover {
	background-color: #fff;
	color: #999;
	border: 1px solid #61c1ce;
}
.inp-color {
	width: 30px !important;
	height: 30px !important;
	padding: 0 !important;
	margin: 0 5px !important;
    display: inline-block !important;
}
.property {
	border-bottom: 1px solid #ddd;
    padding: 5px 0px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.property label{
	display: inline-block;
	margin: 0;
}
input[type="file"] {
    font-size: 11px;
}
.bg-img {
    max-width: 100%;
    max-height: 130px;
    margin: 15px auto;
    display: block;
    border: 2px solid #eee;
}
td .green {
	color: green !important;
}
td .red {
	color: red !important;
}
.akcija-a {
	background: #1095e6;
	color: #eee !important;
	font-weight: bold;
	padding: 0px 6px;
	border-radius: 3px;
}
.single-news-upload {
	background: white;
	border: 1px solid #ddd;
}
/*.second-table-import {
	height: 240px !important;
}*/
.second-table-import table{
	width: 100%;
} 
.modal-karak thead tr td {
	padding: 3px;
	font-weight: 300;
	font-size: 12px;
	text-align: center;
}
.modal-karak tbody td {
	text-align: center;
	vertical-align: middle;
}
.mid-ver {
	margin-top: 16px !important;
}
fieldset {
    border: 0px solid;
    margin: 0;
    padding: 0;
}
table tbody tr:nth-child(even) {
    background-color: rgba(228, 228, 228, 0.52);
}
/*CRM TABLE*/
#JSmyTable, .actions_heading, .action_context  { background-color: #fff !important; }

#JSmyTable,.all_actions input ,#JSmyTable select, #JSmyTable thead { border: none; }

#JSmyTable tbody tr, #JSmyTable thead { background: #f4f4f4; }

#JSmyTable thead { border-bottom: 1px solid #fff; }

.actions_heading th:last-child, .action_context td:last-child {
	border-right: 1px solid #ddd;
}

.actions_heading { border: 1px solid #ddd; }

.action_context { border-left: 1px solid #ddd; }

.action_context { border-bottom:  1px solid #ddd; }

.total-article-count .add-new-article { color: #fff; }

.end_flag td, .end_flag td * { color:#c83737 !important; }

/***********************/

/*#new-art{
	color: #000;
}*/
#prihvati_lager {
	padding: 1px 9px;
}
/*.scroll-tb {
	overflow: scroll;
    height: 500px;
}
.scroll-tb table tbody tr td, .scroll-tb table tr td {
    padding: 6px;
    text-align: center;
    cursor: auto;
}*/
/*  FAST EDIT BTNS */

/********* 2020 **************/
/*BTN*/
 .JSEditNaziv1Btn, 
 .JSEditWebCenaBtn,
 .JSEditEndCenaBtn,
 .JSEditkolicinaBtn,
 .JSEditNazivBtn1,
 .JSEditNazivBtn,
 .JSEdittrosakBtn,
 .JSEditSifraBtn,
 .JSEditKolicinaBtn,
 .JSEditCenaBtn,
 .JSEditCodeBtn
 {
	position: absolute;
	top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    right: 0;
    display: none;
    background: #2fad5c !important;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    color: white !important;
    padding-top: 2px;
    text-align: center;
}  
/*SPAN*/
.JSEditNaziv1BtnSpan, 
.JSEditKolicinaBtnSpan,
.JSEditWebCenaBtnSpan,
.JSEditEndCenaBtnSpan, 
.JSEdittrosakBtnSpan,
.JSEditSifraBtnSpan, 
.JSEditNazivBtnSpan,
.JSEditCenaBtnSpan,
.JSEditkolicinaBtnSpan,
.JSEditCodeBtnSpan
{
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    z-index: 170;
    position: absolute;
    left: 0;
}
/*INPUTs*/
.JSnaziv1Input, 
.JSkolicinaInput, 
.JSWebCenaInput,
.JSEndCenaInput,
.JStrosakInput,
.JSsifraInput,
.JSnazivInput,
.JSCenaInput,
.JSCodeInput
{
	display: none;
	position: absolute;
	top: 0;
	left: 0; 
    width: 100% !important;
    height: 100% !important; 
}
/************************************/

.webimport-table .kolicina:hover .JSEditKolicinaBtn,
.live-edit:hover .JSEditCodeBtn
{
	display: block;
}
/*.webimport-table .kolicina {
	position: relative;
}*/
/*.JSEditKolicinaBtnSpan {
    width: 100%;
    top: 1px;
    height: 19px;
    z-index: 170;
    position: absolute;
    left: 0;
}*/
/*.JSkolicinaInput {
	display: none;
	position: absolute;
	left: 0;
    width: 58px !important;
    height: 19px !important;
}*/
/*//edit kolicina artiklima*/
.kolicina:hover .JSEditkolicinaBtn {
	display: block;
}
/*.kolicina {
	position: relative;
}*/
/*.JSEditkolicinaBtnSpan {
    width: 100%;
    top: 1px;
    height: 19px;
    z-index: 170;
    position: absolute;
    left: 0;
}*/
/*.JSkolicinaInput {
	display: none;
	position: absolute;
	left: 0;
    width: 38px !important;
    height: 19px !important;
}*/
/*end*/
/************************/ 
 
 
/************************/
/*.JSEditNazivBtn, .JSEdittrosakBtn {
	position: absolute;
	top: 1px;
    left: 300px;
    display: none;
    background: #2fad5c !important;
    width: 21px;
    height: 21px;
    border-radius: 4px;
    color: white !important;
    padding-top: 2px;
    padding-left: 3px;
    text-align: center;
}*/
.webimport-table .naziv:hover .JSEditNazivBtn, .custom-edit:hover .JSEdittrosakBtn{
	display: block;
}
 
.webimport-table .naziv {
	position: relative;
}
/*.JSEditNazivBtnSpan {
    width: 25px;
    top: 1px;
    height: 19px;
    z-index: 170;
    position: absolute;
    left: 1px;
}*/
/*.JSnazivInput {
	display: none;
	position: absolute;
	left: 0;
    width: 327px !important;
    height: 22px !important;
}*/
/* END */
#table_header {
	margin-bottom: 0;
}
/*  FAST EDIT BTN SIFRA */
/*.JSEditSifraBtn {
	position: absolute;
    top: 1px;
    right: 2px;
    display: none;
    background: #2fad5c !important;
    color: #fff !important;
    width: 21px;
    height: 21px;
    border-radius: 4px;
    padding-top: 2px;
    padding-left: 3px;
}*/
.webimport-table .sifra:hover .JSEditSifraBtn {
	display: block;
} 
/*.JSEditSifraBtnSpan {
    width: 100%;
    top: 0px;
    height: 20px;
    z-index: 170;
    position: absolute;
    left: 0px;
}*/
/*.JSsifraInput {
	display: none;
	position: absolute;
	left: 0;
    width: 100% !important;
    height: 24px !important;
}*/
.btn-small-check {
	position: absolute;
    top: 26px;
    right: 15px;
    padding: 0px 10px;
    cursor: pointer;
	border: 1px solid #61c1ce;
    height: 21px;
}
#webImportGrupa {
	font-size: 12px !important;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #000;
    font-size: 12px;
}
input.select2-search__field, .select2, .select2-selection, .select2-selection__rendered {
    min-width: 90% !important;
}
.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #d2d2d2;
    border-radius: 0;
}
.select2-container .select2-selection--single {
    height: 21px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 18px;
    font-size: 12px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 20px;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #aaa;
    height: 24px;
    margin: 0;
}
.back-btn {
	border: 1px solid;
    padding: 5px 20px;
    margin: 7px;
}
.narudzbina-th-naziv {
	min-width: 197px;
    padding: 0 1px;
	text-align: center;
}
/*.rabat_group_edit {
	margin-top: 10px !important;
}*/
/*#rabat_group_edit-btn {
	margin-top: 7px !important;
}*/
.column .bordered-col {	
	border: 1px solid #d4d4d4;
	padding: 8px !important;
}
.JSrabat {
	display: inline !important;
    width: 50px !important;
    float: right;
	text-align: center;
}
/*.proizvodjaci-b2b {
	font-size: 13px;
    border: 1px solid #d4d4d4;
    margin: 17px;
}*/
.proizvodjaci-b2b li:nth-child(odd) {
	background: #eee;
}
.proizvodjaci-b2b li {
    padding: 2px 10px;
}
.proizvodjaci-b2b input[type="number"]::-webkit-outer-spin-button,
.proizvodjaci-b2b input[type="number"]::-webkit-inner-spin-button,
 
.proizvodjaci-b2b input[type="number"] {
    -moz-appearance: textfield;
}
/*  FAST EDIT BTN Naziv */
/* .JSEditNaziv1Btn, .JSEditWebCenaBtn, .JSEditkolicinaBtn, .JSEditNazivBtn1{
	position: absolute;
	top: 1px;
    right: 0;
    display: none;
    background: #2fad5c !important;
    width: 21px;
    height: 21px;
    border-radius: 4px;
    color: white !important;
    padding-top: 2px;
    text-align: center;
}
.JSEditkolicinaBtn{
	left: unset;
	right: 0;
}
.JSEditWebCenaBtn{
  	left: initial;
    right: 1px;
}*/
/*.JSEditNazivBtn1 {
	position: absolute;
	top: 1px;
    right: 0px;
    display: none;
    background: #2fad5c !important;
    width: 21px;
    height: 21px;
    border-radius: 4px;
    color: white !important;
    padding-top: 2px;
    padding-left: 3px;
}*/
.webimport-table .naziv1:hover .JSEditNaziv1Btn, .table-fixed-width1:hover .JSEditNaziv1Btn {
	display: block;
}
/*.JSEditNaziv1BtnSpan {
    width: 99%;
    top: 1px;
    height: 19px;
    z-index: 170;
    position: absolute;
    left: 1px;
}*/
/*.JSnaziv1Input {
	display: none;
	position: absolute;
	left: 0; 
    width: 100% !important;
    height: 22px !important;
}*/ 
 .WebCena:hover .JSEditWebCenaBtn{
 	display: block;
 }

 .EndCena:hover .JSEditEndCenaBtn{
 	display: block;
 }
/*.JSEditWebCenaBtnSpan{
    width: 100%;
    top: 0px;
    height: 20px;
    z-index: 170;
    position: absolute;
    right: 0;
} */
 .cena:hover .JSEditCenaBtn{
 	display: block;
 }
/*.JSEditCenaBtnSpan{
	top: 8px;
    height: 20px;
    z-index: 170;
    position: absolute;
    right: 0;
    width: 100%;
}*/
 
/*.JSEditCenaBtn{
    position: absolute;
    top: 1px;
    left: 77px;
    display: none;
    background: #2fad5c !important;
    color: #fff !important;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    padding: 2px; 
 }*/
  /* *** Status narudzbine **** */

/*========================*/
.shop-logo{
    max-height: 30px;
    max-width: 100%;
}
 img{
    color: #bbb;
    font-size: 12px;
    line-height: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/*.porudzbina-flex, .b2b-porudzbina-flex{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	display: -webkit-flex;
	-webkit-align-items: center;
	-webkit-flex-wrap: wrap;
	min-height: 25px;
    padding: 0 2px;
} */
/* *** Status narudzbine end **** */
/*==============================*/
/*.rabat_partner_edit_b2b, .art-row .discard{
    position: absolute;
    top: -2px;
    right: 0;
    height: 20px;
    line-height: 0;
    z-index: 1;
}*/
/*.art-row .discard{
	right: -60px;
	line-height: 13px;
    box-shadow: 1px 1px 0px 0px #ccc;
}*/
.rabat_partner_edit_btn{
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
}
.massEditRow select.inp-sm {
	width: 90% !important;
	margin: 0px 0px 15px 0px;
}
.btn-container .save-it-btn, .save-it-btn{
	background-color: #3a494e;
	color: #fff !important;
}
.btn-container .save-it-btn:hover, .save-it-btn:hover{
	background-color: #fff;
	color: #000 !important
}
/*==============*/
.trial-period{
    text-align: center;
    color: #ffffff;
    background: #f68938;
    max-width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99;
    padding: 7px 0;
    font-size: 1em;
}
.trial-period a{
    display: inline-block;
    color: #000;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 2px;
    cursor: pointer;
    font-size: .9em;
    background: #dfe4e6;
    background: linear-gradient(#ffffff, #dfe4e6, #f6f7f7);
}
.trial-period a:hover{
	box-shadow: 1px 1px 5px #595959;
}
.time-left span{
    background: linear-gradient(#ffffff, #dfe4e6, #f6f7f7);
    color: #000;
    padding: 5px 12px;
    border-radius: 4px;
    font-weight: 600;
    margin: 0 5px;
}
.cut-padding{
	padding: 0 5px;
}
/*==============*/
.table_narudzbina .ammount-input{
	width: 40px;
	text-align: center;
    padding: 0;
    height: 100%; 
}
.kol-inline {
	display: inline-block !important;
	width: auto !important;
}
.article-custom-columns .loco{ 
	position: relative;
	margin: 3px 5px 0 0px;
	vertical-align: middle;
}
  
/*=========== TOOLTIP ====================*/
/*.tooltipz, .tooltipz-right, .tooltipz-left{
	position: relative;
}
.tooltipz[aria-label]:hover:after, .tooltipz-right[aria-label]:hover:after, .tooltipz-left[aria-label]:hover:after {
	content: attr(aria-label);
	position: absolute;
	z-index: 999;
	font-size: 11px;
    top: 100%;
    left: 50%;
    margin: 5px;
    font-weight: normal;
    white-space: nowrap;
	line-height: 1;
	text-align: center;
	border-radius: 5px;
	padding: 5px 8px;
	background-color: #2b3a41;
	color: #fff; 
    transform: translateX(-50%);
    font-family: 'Open Sans', sans-serif;
}
.tooltipz-right[aria-label]:hover:after{
	transform: translateX(0);
}
.tooltipz-left[aria-label]:hover:after{
    left: -50%;
}*/
#JScustomTooltip{
	position: absolute;
    z-index: 999;
    background: rgba(0, 0, 0, 0.65);
    padding: 5px;
    border-radius: 3px;
    max-width: 360px;
    color: #fff;
    font-size: 12px;
    line-height: 1;
    margin: 0;
    display: none;
    box-shadow: 0 0 3px #fff;
    pointer-events: none;
}  
/*============= SHORT PRODUCT ==================*/
.short-group-container{
	position: relative;
}
.short-group-container > ul {
    font-size: 12px;
    max-height: 300px;
    overflow-y: scroll;
    border: 1px solid #3399ff;
    border-top: 0;
    position: absolute;
    top: 0;
    left: 0;
    background: #f2f2f2;
    width: 100%;
    z-index: 11;
}
.short-group-container ul li{
    padding: 0 6px;
    border-bottom: 1px solid #ddd;
}
.short-group-container ul li:hover{
	background-color: #3399ff;
	color: #fff;
}
.col-slika-ads a{
    color: red;
    cursor: pointer;
    padding: 0 5px;
    font-size: 22px;
    line-height: 1;
    font-weight: 600;
    cursor: pointer;
}
.col-slika-ads{
	box-shadow: 1px 1px 4px #ddd;
    position: relative;
    height: 100px;
    margin: 3px 0;
}
.col-slika-ads:hover{
	box-shadow: 1px 1px 5px #999;
}
.col-slika-ads img{
    max-width: 100%;
    max-height: 70px;
    padding: 5px;
    margin: auto;
    display: block;
}
.col-slika-ads input{
	margin: 5px;
}
.short-article-img img{
    max-width: 100%;
    max-height: 100px;
    margin: 5px;
    display: inline-block;
}
.GrupaKarakteristike ul li span{
	color: red;
}
.GrupaKarakteristike ul li{
	font-size: 14px;
}
.GrupaKarakteristike {
    max-height: 255px;
    overflow-y: scroll;
}
.short-product-action .column span{
    position: absolute;
    top: 25px;
    right: -5px;
    color: red;
    z-index: 3;
    padding: 0 5px;
    font-size: 22px;
    line-height: 1;
    font-weight: 600;
    cursor: pointer;
}
/*===============================*/
.custom-select-arrow{
	position: relative;
}
.custom-select-arrow:after{
    content: '';
	border-top: 0.2em solid #000;
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
    position: absolute;
    top: 42%;
    right: 10px;
}
/*=================================*/
.edit-modl-img {
	max-width: 100px;
}
.edit-modl-div {
	padding-top: 24px;
}
.edit-modl-div span {
	display: block;
}
/*======== LOADER =========*/
.JSads-loader { 
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.95);
    z-index: 183;
}
.JSads-loader .ads-loader-inner{
    position: relative;
    width: 100%;
    height: 100%;
}
.JSads-loader .ads-loader-inner div{
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}
.JSads-loader .loadSpiner {
	border: 5px solid #fff;
	border-radius: 50%;
	border-top: 5px solid #000;
	border-bottom: 5px solid #000;
	width: 80px;
	height: 80px;
    display: block;
    margin: 10px auto;
	-webkit-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/*============================*/
.table-groups-import table thead tr th, .table-groups-import table tbody tr td{
	display: inline-block; 
    padding: 6px;
}
.table-groups-import table thead .rower th:nth-child(1), .table-groups-import table tbody .rower td:nth-child(1){
	 width: 10%;
}
.table-groups-import table thead .rower th:nth-child(2), .table-groups-import table tbody .rower td:nth-child(2),
.table-groups-import table thead .rower th:nth-child(3), .table-groups-import table tbody .rower td:nth-child(3){
	 width: 25%;
}
.table-groups-import table thead .rower th:nth-child(4), .table-groups-import table tbody .rower td:nth-child(4),
.table-groups-import table thead .rower th:nth-child(5), .table-groups-import table tbody .rower td:nth-child(5){
	 width: 8%; 
}
/*=====================*/
 
/*=========================*/
.abs-button{
	position: absolute;
	top: 0;
	right: 0;
} 
.vert-align{ vertical-align: middle; }

.lineh { line-height: 1; }
/*=============================*/
.warr-cont{
	overflow-x: auto;
    margin: 10px 0;
}
.warr-cont table th, .warr-cont table td{
    padding: 0 15px 0 5px;
}
.warr-cont table td{
    max-width: 300px;
    overflow: hidden;
}
.warr-cont table tr:hover{
	background-color: rgba(0,0,0,.1);
 }
 /*============================*/
 
.logs table tr:hover{
	background-color: rgba(0,0,0,.1);
}
.logs table tr td { 
	max-width: 320px; 
}
.logs table a { color: inherit; }

.table-scroll table, .items-order table { width: 99.9%; }

 
/*.new-combination-article form{
	background-color: #fff;
	box-shadow: 0 0 3px #3a494e;
}
.new-combination-article .active{
	background-color: #ddd;
}
.new-combination-article .fa-arrow-right:before{
	color:#3a494e;
}*/

/***********/
/*POLLS*/
 
.polls-page .poll {
	margin: 8px 5px;
    padding: 10px;
    background: rgba(0,0,0, .03);
}
.polls-page .poll.active, .polls-page .poll:hover {
	box-shadow: 3px 0 0 inset #5680bf;
	 background: rgba(0,0,0, .07);
}
.polls-page .poll.active form {
	display: block;
}
.polls-page .question {
    color: inherit; 
    padding: 3px 0;
    display: block;
    max-width: 75%;
    line-height: 1.2;
    text-shadow: 0 0 0.5px;
    border-bottom: 1px solid #ddd;
}
.polls-page .poll-options {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}
.polls-page .poll-options a {
    padding: 10px 5px;
}
.poll-analytics a {
	display: block; 
	font-size: 14px;
    padding: 2px 6px;
    margin: 2px 0;
}
.poll-analytics a:hover, .poll-analytics.active a {
	background-color: rgba(228, 228, 228, 0.52);
}

/*CRM style*/
button.btn-abs-right, a.btn-abs-right {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    height: 100%;
    padding: 0 10px;
}
.btn-abs-right .fa {
	font-size: inherit;
}

.full-width {
	width: 100%;
}
.select-width {
	min-width: 115px;
	padding-right: 20px;
}
.min-width-300 {
	min-width: 300px;
}

.additional_table {
	border: none;
} 
.additional_table,#JSmyTable,.all_actions tbody tr {
	border-bottom: 1px solid #e6e6e6;
}
.additional_table, .all_actions tbody tr:nth-child(even) {
	background-color: #fff; 
}
.additional_table tbody tr:hover {
	background-color: #f2f2f2;
}
.additional_details_second td{
	max-width: 300px;
    white-space: pre-wrap;
} 
.no-white-space {
	max-width: 230px;
    white-space: unset;
}
/*********/ 

/*crm accordian */

.crm_label {
	justify-content: space-between;
	-webkit-justify-content: space-between;
	padding: 0 0 5px;	
}
.crm_label label {
	margin-top: 0;
}
.open-today-actions {
    animation: pulseButton 1.5s ease-in-out infinite;
    z-index: 173;
    background: #fff;
} 

.crm_li > div { 
	cursor: pointer; 
	padding: 5px;
	margin: 5px 0 10px;
	justify-content: space-between;
	-webkit-justify-content: space-between;
}
.active_li_crm div { background-color: #ccc; }

.active_li_crm ul { display: block; }

@keyframes pulseButton {
    0% { box-shadow: 0 0 0 0 rgba( 255, 0, 0, 0.66 ); transform: scale(0.95) perspective(1px);}
    70% { box-shadow: 1px 1px 15px 10px rgba(255, 0, 0, 0); transform: scale(1) perspective(1px); }
    100% { box-shadow: 0 0 0 0 rgba(255, 0, 0, 0); transform: scale(0.95) perspective(1px); }
} 

.absolute_bg {
	content: '';
	position: absolute;
	background: rgba(0,0,0,.45);
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 172;
}


/*******/

.custom-select { 
	width: 200px;
}  
.overSelect {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.checkboxes {
	display: none;
	border: 1px #dadada solid;
	border-top: none;
	background: #fff; 
	max-height: 130px;
    overflow: auto;
} 
.checkboxes label {
	margin: 0;
	padding: 3px 0;
	user-select: none;
}
.checkboxes label:hover {
	background-color: #1e90ff;
	color: #fff;
} 
.checkboxes input {
	pointer-events: none;
}

/*********/ 

.overflow-visible {
	overflow: visible;
} 
.btn.xs-btn {
	padding: 0 5px;
}
/***********/

.pointer {
	cursor: pointer;
}

/*******/
.header-fixed th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}
.header-fixed th[scope=row] {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  z-index: 1;
}
.header-fixed th:not([scope=row]) {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}
.header-fixed th[scope=row] {
  background: linear-gradient(90deg, transparent 0%, transparent calc(100% - .05em), #d6d6d6 calc(100% - .05em), #d6d6d6 100%);
}

 .table-row-top{
 	padding: 18px;
 	top: 60px;
 }

.today-actions-pulseonly {
     background-color: #c83737;
  animation-name: action-today;
  animation-duration: 4s;
}

@keyframes action-today {
  from {background-color: #c83737;}
  to {background-color: #F4F4F4;}
}
#JSmyTable tr:hover,  tr:focus  {
  background-color: #d2dfd9;
}