.offer {
    margin: 25px 15px;
    border: 1px solid #ddd;
    padding: 0 15px 15px;
}
.offer .title-med {
	padding: 2px 0;
	margin-top: 10px;
}
.offer h1 { margin: 15px 0; }

.offer .btn {
	color:#fff;
	background: var(--orange);
	margin:10px 2px;
	padding: 6px 12px;
	border-color: transparent;
	border-radius: 0;
}
.offer .btn a { color: #fff }
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    border-color: var(--orange);
    background:var(--orange);
    outline: none;
}
.offer .btn:hover { opacity: .7; }

.field-status {
    height: 34px;
}
.rma-custom-select ul li, .sabloni {
	cursor: pointer;
	border-left: 3px solid transparent; 
}
.stavke { padding: 0 15px; }

.rma-custom-select ul li { padding: 0 3px; }

.rma-custom-select ul li:hover, .sabloni { border-left: 3px solid  var(--orange); background: #f8f8f8; }

.sabloni { margin:10px 0; }

.sabloni:hover { color:var(--orange); }

.offer span.select-wrapper::after { display: none; }

.table-ponude td {
	overflow:hidden;#
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 280px;
}
.heading-offer { order:1; }

.heading-offer .btn { margin-right: 15px; }

.total { margin:10px 0; }
/*.heading-border{
 	 border-bottom: 1px solid #ddd;
 	 display: inline-block;
 }*/
.title { font-size: 20px; }

.search-field .btn, .search-field .btn.btn-small  {
	position: absolute;
    bottom: 1px;
    right: 4px;
    background: #fff;
    color: #a7a9ab;
    z-index: 2;
    margin: 0;
    padding: 3px 5px;
}
.btn-pon-pred:focus, .btn-pon-pred:active:focus { border-color: transparent; }

.search-field input[type="text"] { margin:0; }

.error { border: 1px solid red !important; }
/*SELECT IN TABLE*/
.select2 {
	width: 220px !important;
}
@media only screen and (min-width: 768px) {
	.offer .new_doc {
		position: absolute;
	    top: 0;
	    right: 120px;
	}
}
@media only screen and (max-width: 768px) {
	.sm-text-left{ text-align: left; }
	.sm-no-padding { padding: 0; }
	.summary-label {padding: 0 8px;}
}
